@import "~normalize.css/normalize.css";
@import "./components/tooltip.scss";

body{
    font-family: Calibri, Arial;
}

#battlefield-container{
    width: 1170px;
    margin: 50px auto;
    box-shadow: 0px 0px 15px #e4e4e4;
    padding: 25px;
    overflow: hidden;

    .title{
        font-weight: bold;
        text-transform: uppercase;
    }

    .warriors-list{
        list-style: none;
        padding-left: 0;
    }

    .list-item{
        display: inline-block;
        text-align: center;
        margin: 15px;
        padding: 20px 0;
        border: 1px solid #cccccc;
        width: 170px;

        &__title{
            font-weight: bold;
        }

        &__body{
            img{
                max-width: 100%;
            }
        }
    }

    .battlefield-container{
        width: 70%;
        float: left;

        table{
            width: 100%;
            border: 1px solid #d6d6d6;

            tr { 
                td{
                    height: 125px;
                    text-align: center;
                    border-bottom: 1px solid #e8e8e8;
                    border-right: 1px solid #e8e8e8;

                    &:last-child{
                        border-right: none;
                    }
                }
            }

            tr:last-child{
                td{
                    border-bottom: none;
                }
            }
        }
    }

    .scorebar-container{
        width: 25%;
        float: left;
        margin-left: 5%;
    }
}

